:root {
	/* Variables CSS */

	--bg-color: #18171f;
	--primary-color: #24232c;
	--primary-font:  'JetBrains Mono', monospace;
	--font-color: #e6e5ea;

	// font-family: 'Bungee', cursive;
}

/* Variables SASS */
